body {height: 100vh;
    background-image: url(images/fonm.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p{
    background-color:rgba(232, 239, 240, 0.747);
    color:rgb(0, 0, 0);
    padding:20px;
    margin-left:1%; 
    margin-top:-10px;font-size:1.5em;
     width: fit-content; }
     h1 {background-color:rgba(232, 239, 240, 0.747);
        color:rgba(68, 82, 85, 0.527);
        padding:-10px;text-align:center;
        font-size:3em;}
header {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;}
h2{background-color:rgba(140, 194, 229, 0.668);color:rgb(255, 255, 255);padding:10px;text-align:center;margin-top:5px;font-size:2em;}
h3{background-color:rgba(140, 194, 229, 0.668);color:rgb(255, 255, 255);padding:10px;text-align:center;margin-top:5px;font-size:2em;}
h4{background-color:rgba(140, 194, 229, 0.668);color:rgb(255, 255, 255);padding:10px;text-align:center;margin-top:5px;font-size:2em;}
h5{background-color:rgba(140, 194, 229, 0.668);color:rgb(255, 255, 255);padding:10px;text-align:center;margin-top:5px;font-size:2em;}
h6{background-color:rgba(140, 194, 229, 0.668);color:rgb(255, 255, 255);padding:10px;text-align:center;margin-top:5px;font-size:2em;}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
